:root {
    --mainColor: #ffc107;
    --mainColor2: gold;
    --lightColor: #fff;
    --lightColor2: #e8e8e8;
    --darkColor: #101010;
    --darkColor2: rgba(15, 15, 15, 0.6);
    --grayColor: #666;
    --grayColor2: rgb(156, 153, 153);
    --grayColor3: rgb(109, 107, 107);
    --grayColor4: #9c9b9b;
    --grayColor5: rgb(112, 111, 111);
    --grayColor6: #707070;
    --grayColor7: rgb(75, 73, 73);
    --facebookColor: #4267B2;
    --twitterColor: #1DA1F2;
    --instgramColor: #c75a98c4;
    --whatsappColor: #25D366;
}
/* ============== Start pageHeader =============== */
.pageHeader {
    margin-top: 70px;
    padding: 120px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-image: url('../../images/backgrounds/testimonial.jpg');
    position: relative;
    z-index: 0;
}

.pageHeader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--mainColor);
    opacity: 0.8;
    height: 100%;
    width: 100%;
    z-index: -1 !important;
}

.pageHeader .pageHeaderHeader {
    z-index: 100;
}

.pageHeaderHeader {
    padding-bottom: 20px;
}

.pageHeader .pageHeaderHeader h3,
.pageHeader .pageHeaderHeader h3 a {
    color: var(--lightColor);
    font-size: 20px;
    text-transform: uppercase;
}

.pageHeader .pageHeaderHeader h2 {
    color: var(--lightColor);
    font-size: 40px;
    text-transform: uppercase;
}
/* ============== End pageHeader =============== */
/* ============== Start enactusGllary =============== */
.enactusGllary {
    padding: 50px 0;
    background: var(--darkColor);
    border-bottom: 2px solid var(--mainColor);
}

.enactusGllary .box-menu ul {
    padding: 0;
}

.enactusGllary .box-menu ul li {
    list-style: none;
    color: var(--lightColor);
    background: var(--grayColor7);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.enactusGllary .box-menu ul li.mixitup-control-active {
    color: var(--lightColor);
    box-shadow: 0 0 20px var(--grayColor7);
}

.enactusGllary .box-menu ul li:hover {
    color: var(--lightColor);
    box-shadow: 0 0 20px var(--grayColor7);
}

.enactusGllary .box-item {
    padding: 0;
    padding: 5px;
}

.enactusGllary .box-item img {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.enactusGllary .box-item:hover img {
    transform: scale(1.1);
}

.enactusGllary .box-item .driveLink {
    background: var(--mainColor);
    height: 250px;
    border-radius: 10px;
    color: var(--lightColor);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.enactusGllary .box-item .driveLink:hover {
    transform: scale(1.1);
}

.enactusGllary .box-item .driveLink i {
    font-size: 40px;
    margin-bottom: 10px;
}

.enactusGllary .box-item .driveLink h2 {
    font-size: 25px;
    padding: 0 30px;
}
/* ============== End enactusGllary =============== */

/* ################ Large devices (desktops, less than 1200px) ################ */
@media (max-width: 1199.98px) {
}

/* ################ Medium devices (tablets, less than 992px) ################ */
@media (max-width: 991.98px) {
    /* ============== Start pageHeader =============== */
    .pageHeader {
        padding: 100px 0;
    }

    .pageHeader .pageHeaderHeader h3 {
        font-size: 18px;
    }

    .pageHeader .pageHeaderHeader h2 {
        font-size: 35px;
    }
    /* ============== End pageHeader =============== */
}

/* ################ Small devices (landscape phones, less than 768px) ################ */
@media (max-width: 767.98px) {
    /* ============== Start pageHeader =============== */
    .pageHeader .pageHeaderHeader {
        padding-bottom: 10px;
    }

    .pageHeader .pageHeaderHeader h3 {
        font-size: 17px;
    }

    .pageHeader .pageHeaderHeader h2 {
        font-size: 30px;
    }
    /* ============== End pageHeader =============== */
    /* ============== Start enactusGllary =============== */
    .enactusGllary {
        padding: 40px 0;
    }
    /* ============== End enactusGllary =============== */
}

/* ################ Extra small devices (portrait phones, less than 576px) ################ */
@media (max-width: 575.98px) {
    /* ============== Start pageHeader =============== */
    .pageHeader {
        padding: 80px 0;
    }

    .pageHeader .pageHeaderHeader {
        padding-bottom: 5px;
    }

    .pageHeader .pageHeaderHeader h3 {
        font-size: 15px;
    }

    .pageHeader .pageHeaderHeader h2 {
        font-size: 25px;
    }
    /* ============== End pageHeader =============== */
    /* ============== Start enactusGllary =============== */
    .enactusGllary {
        padding: 35px 0;
    }
    /* ============== End enactusGllary =============== */
}